* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --azulclaro: #76C5DE;
    --offwhite: #FCFFED;
    --azuloscuro: #152F3E;
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--azuloscuro);
    font-size: 1rem;
}

a:hover {
    color: var(--azulclaro);
}

/* HEADER */

header {
    position: relative;
    padding: 0 2rem;;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    font-size: 1.5rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar #toggle_btn {
    color: var(--azuloscuro);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* DROP DOWN MENU */

#dropdown_menu {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background:rgba(35, 176, 181);
    overflow: hidden;
}

/* Adding responsive design */
#dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* This mediaquery will hide the navbar links and show toggle_btn when the viewport is less than 992px */
@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }
    .navbar #toggle_btn {
        display: block;
    }
    #dropdown_menu {
        display: none;
    }
}

/* INTRO SECTION */

.consulta {
    border: 1px solid black;
    background-color: var(--azulclaro);
    background-image: url(/assets/home_consulta_bg.png);
    height: 661px;
    background-position: center;
    background-repeat: no-repeat;
}

.consulta-title {
    color: var(--offwhite);
}

/* PODCAST SECTION */

.podcast {
    border: 1px solid orange;
    background-color: var(--azuloscuro);
}

.heading {
    color: var(--offwhite)
}

/* VAKI SECTION */
.vaki {
    border: 1px solid red;
    background-color: var(--offwhite);
}