* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --azulclaro: #76C5DE;
    --offwhite: #FCFFED;
    --azuloscuro: #152F3E;
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: green;
    font-size: 1rem;
}

a:hover {
    color: blue;
}

/* HEADER */

header {
    position: relative;
    padding: 0 2rem;;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    font-size: 1.5rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: orange;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* DROP DOWN MENU */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 15px;
    height: 0;
    width: 300px;
    border-radius: 10px;
    background:rgba(35, 176, 181);
    overflow: hidden;
}

.dropdown_menu.open {
    /* but I don't get why this works */
    height: 240px;
}

/* Adding responsive design */
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* This mediaquery will hide the navbar links and show toggle_btn when the viewport is less than 992px */
@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}

/* INTRO SECTION */

.consulta {
    border: 1px solid black;
    background-color: var(--azulclaro);
}

.consulta-title {
    color: var(--offwhite);
}

/* COMUNIDAD SECTION */
.comunidad {
    border: 1px solid white;
    background-color: var(--azuloscuro);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}

.grupo_card {
    border: 1px solid green;
    margin: 1rem;
}

.upper-card {
    background-image: url('assets/grupo_aprendamos.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px
}

/* PODCAST SECTION */

.podcast {
    border: 1px solid orange;
    background-color: var(--offwhite);
}

.episode_card {
    border: 1px solid greenyellow;
    margin: 1rem;
    border-radius: 10px;
    background-color: #191919;

}

h4.episode-title {
    color: #FFFFFF;
}

p.episode-length {
    color: #B2B1B2;
}
